.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Adjust as needed */
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 32px; /* Adjust as needed */
    height: 32px; /* Adjust as needed */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  